body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 1.1em;
    background-color: hsla(120, 29%, 88%, 0.3);
}

h1 {
    color: #146C94;
    font-family: 'Alkatra';
    font-size: 4rem;
    margin: 50px auto 0 auto;
}

p {
    line-height: 2;
} 

hr {
    border: solid lightslategray 3px;
    border-top: none;
    width: 6%;
    margin: 100px auto;
}

a {
    color: #9abaa5;
    font-family: 'Merriweather';
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.top_container {
     background-color: 	#E4F9F5;
     position: relative;
     padding-top: 100px;
}

.top_container h2 {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.2em;
    padding-bottom: 10px;
}

.top_container h2 span {
    text-decoration: underline;
}

.top_container h2 span:hover {
    text-decoration: none;
}

.mountain {
    height: 350px;
    width: 900px;
    margin-bottom: 0;
    
}
.top_cloud {

    height: 100px;
    width: 200px;
    margin-left: 200px;
    position: absolute;
    
}

.bottom_cloud {
    height: 100px;
    width: 200px;
    position: absolute;
    margin-right: 0px;
}

.middle-container h2,h3{
    color: #369758;
}

.middle-container {
    margin: 100px 0;
}

.avatar {
    padding-top: 10px;
    height: 250px;
    width: 250px;
}

.bottom-container {
    background-color: #E4F9F5;
    padding: 50px 0 20px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;

}

.selenium {
    width: 25%;
    float: left;
    margin-right: 30px;

}

.devops {
    width: 200px;
    float: right;
    margin-left: 30px;
}

.web_dev {
    width: 230px;
    float: left;
    margin-right: 30px;
}

.myself {
    width: 40%;
    margin: auto;
}

.contact_message {
    width: 40%;
    margin: 40px auto;

}

.btn {
    background: #257394;
    background-image: -webkit-linear-gradient(top, #257394, #74c2bc);
    background-image: -moz-linear-gradient(top, #257394, #74c2bc);
    background-image: -ms-linear-gradient(top, #257394, #74c2bc);
    background-image: -o-linear-gradient(top, #257394, #74c2bc);
    background-image: linear-gradient(to bottom, #257394, #74c2bc);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: bold;
  }
  
  .btn:hover {
    background: #325463;
    background-image: -webkit-linear-gradient(top, #99d4eb, #325463);
    background-image: -moz-linear-gradient(top, #99d4eb, #325463);
    background-image: -ms-linear-gradient(top, #99d4eb, #325463);
    background-image: -o-linear-gradient(top, #99d4eb, #325463);
    background-image: linear-gradient(to bottom, #99d4eb, #325463);
    text-decoration: none;
  }

  .copyright {
    font-size: 0.75rem;
    color: #325463;
    margin: 20px 0;
  }