body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 1.1em;
    background-color: hsla(120, 29%, 88%, 0.3);
}

h1 {
    color: #146C94;
    font-family: 'Alkatra';
    font-size: 4rem;
    margin: 50px auto 0 auto;
}

p {
    line-height: 2;
} 

hr {
    border: solid lightslategray 3px;
    border-top: none;
    width: 6%;
    margin: 100px auto;
}

a {
    color: #9abaa5;
    font-family: 'Merriweather';
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.top_container {
     background-color: 	#E4F9F5;
     position: relative;
     padding-top: 100px;
}

.top_container h2 {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.2em;
    padding-bottom: 10px;
}

.top_container h2 span {
    text-decoration: underline;
}

.top_container h2 span:hover {
    text-decoration: none;
}

.mountain {
    height: 350px;
    width: 900px;
    margin-bottom: 0;
    
}
.top_cloud {

    height: 100px;
    width: 200px;
    margin-left: 200px;
    position: absolute;
    
}

.bottom_cloud {
    height: 100px;
    width: 200px;
    position: absolute;
    margin-right: 0px;
}

.middle-container h2,h3{
    color: #369758;
}

.middle-container {
    margin: 100px 0;
}

.avatar {
    padding-top: 10px;
    margin-bottom: 50px;
    height: 250px;
    width: 250px;
}

.bottom-container {
    background-color: #E4F9F5;
    padding: 50px 0 20px;
}

.skill-row {
    width: 70%;
    margin: 100px auto;
    text-align: left;

}

.selenium {
    width: 25%;
}

.devops {
    width: 25%;
}

.web_dev {
    width: 25%;
}

.myself {
    width: 40%;
    margin: auto;
}

.contact_message {
    width: 40%;
    margin: 40px auto;

}

.btn-outline-secondary {
    background-color: #5ba2e9;
    color: white;
    line-height: 2;
    font-family: 'Raleway';
    font-weight: bold;
}

.btn-outline-secondary:hover {
    color: black;
    text-decoration: none;
    background-color:#E4F9F5;
    line-height: 2;

}

#apperance {
    display: none;
}

  .copyright {
    font-size: 0.75rem;
    color: #325463;
    margin: 20px 0;
  }

  .fa-laptop-code, .fa-bug, .fa-code-pull-request {
    margin: auto 0;
    color: rgb(48, 98, 168);
  }

  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.hvr-sweep-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
    color: white;
  }
  .hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  

  /* Mobile enhancements from here */

  @media (max-width: 900px) {

    .container-fluid {
        padding: 0;
    }
    .mountain {
        width: 100%;
    }

    .top_cloud {
        position: relative;
    }

    .top_container h2 {
        width: 50%;
        margin: auto;
    }

  
    .fa-bug, .fa-laptop-code {
        margin-bottom: 20px;
    }

    .fa-code-pull-request {
        display: none;
    }
    
    #apperance {
        display: inline;
        position: relative;
        margin: 0 auto 10px;
        color: rgb(48, 98, 168);
    }

    .contact-me h3 {
        width: 50%;
        margin: auto;
    }

    .skill-row {
        width: 70%;
        margin: 100px auto;
        text-align: center;
    
    }

  }