body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 1.1em;
    background-color: hsla(120, 29%, 88%, 0.3);
}

h1 {
    margin-top: 0;
    color: #146C94;
    font-family: 'Alkatra';
    font-size: 4rem;
    margin: 50px auto 0 auto;
}

p {
    line-height: 2;
}

.top_container {
     background-color: 	#E4F9F5;
     position: relative;
     padding-top: 100px;
}

.top_container h2 {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.2em;
    padding-bottom: 10px;
}

.top_container h2 span {
    text-decoration: underline;
}

.top_container h2 span:hover {
    text-decoration: none;
}

.mountain {
    height: 350px;
    width: 900px;
    margin-bottom: 0;
    
}
.top_cloud {

    height: 100px;
    width: 200px;
    margin-left: 200px;
    position: absolute;
    
}

.bottom_cloud {
    height: 100px;
    width: 200px;
    position: absolute;
    margin-right: 0px;
}

.middle-container h2,h3{
    color: #369758;
}

.middle-container {
    margin: 100px 0;
}

.avatar {
    padding-top: 10px;
    height: 250px;
    width: 250px;
}

.bottom-container {
    background-color: #E4F9F5;
}

.skill-row {
    width: 50%;
    margin: 100px auto;

}

.selenium {
    width: 25%;
    float: left;
    margin-right: 30px;

}

.devops {
    width: 200px;
    float: right;
    margin-left: 30px;
}

.web_dev {
    width: 250px;
    float: left;
    margin-right: 30px;
}